*{ margin:0;
	Padding:0;
 }
 ul { 
  }
 ul li{ display: inline-block; 
 list-style: 0; }
 ul li a { text-decoration: 0; 
 	font size: 20 px;
 	font-family: arial;
 	padding:0 20 px; 
 	color: black; }
 img {  
max-width: 50%;  
height: auto;  
}  
body{
width:110%;
}
@media only screen and (max-device-width: 480px) {

  body{
    width:145%;
  }
	h1{
		text-align:center;
	}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
}
footer{
  position:absolute;
  bottom:-820px;

    }
